* {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
}

body {
  overflow-x: hidden;
}

.container {
  height: 100vh;
}

.header {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header h1 {
  flex-grow: 5;
  font-family: 'Meddon', cursive;
}

.headerContent {
  display: flex;
  margin-right: 8%;
  flex-grow: 0.5;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.search,
.login {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.searchText,
.loginText {
  margin-right: 10px;
}

.search a,
.login a {
  color: black;
  text-decoration: none;
}

.search a:visited,
.login a:visited {
  color: black;
}

img {
  width: 100%;
}

.imgOverlay {
  position: absolute;
  top: 20%;
  width: 30%;
  left: 60%;
  background: white;
  padding: 30px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
  line-height: 1.6;
}

.imgName {
  font-size: 20px;
  padding-bottom: 10px;
}

.imgDetail {
  padding-bottom: 15px;
}

.imgOverlay a {
  padding: 10px 20px;
  border: none;
  background: #d5b07a;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

.disappear {
  display: none;
}

.greeting {
  text-align: center;
  padding: 20px 0;
}

.greeting h1 {
  padding: 10px 0;
}

.greeting h1 span {
  color: #d5b07a;
}

.greeting p {
  margin: 0 auto;
  font-size: 20px;
  line-height: 1.6;
  font-style: italic;
  font-family: 'Noto Sans', sans-serif;
}

.greetingBtns {
  display: flex;
  width: 30%;
  margin: 0 auto;
  justify-content: space-around;
}

.text {
  padding-bottom: 20px;
}

.greeting a {
  padding: 10px 20px;
  border: none;
  background: #d5b07a;
  color: white;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
}

.blackLine {
  margin: 20px 0;
  border: 1px solid #6c6363;
}

.artworks h2 {
  color: #ab6909;
  text-align: center;
  padding-top: 20px;
}

#artworksContent {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  justify-content: space-between;
  text-align: center;
}

.artwork {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.artwork img {
  border-radius: 5px;
}

.artwork p {
  padding: 15px 0;
  font-size: 16px;
}

.button {
  cursor: pointer;
  color: #ab6909;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button i {
  color: black;
  text-align: center;
  margin-left: 5px;
  margin-top: 1px;
}

.yellowLine {
  margin: 20px 0;
  border: 1px solid #d5b07a;
}

.about {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.about h1 {
  font-family: 'Meddon', 'cursive';
  font-weight: bolder;
  padding: 10px 0;
  color: #ab6909;
}

.about h1 {
  font-family: 'Meddon', cursive;
  color: #ab6909;
}

.characteristic {
  font-size: 20px;
  padding: 10px 0 20px;
}

.aboutText {
  line-height: 1.6;
  padding-bottom: 20px;
}

.contact {
  width: 90%;
  margin: 0 auto;
}

.contactContainer {
  padding: 20px 0 40px;
  display: flex;
  align-items: center;
}

.contactInfo {
  font-size: 18px;
  flex-grow: 3;
}

.contactInfoPhone,
.termsPhone {
  display: none;
}

.media {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  font-size: 25px;
}

.media i {
  cursor: pointer;
}

.terms {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.menu {
  position: absolute;
  right: 5%;
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 28px;
}

.nav-links {
  position: absolute;
  right: -100%;
  top: 0;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
  width: 30%;
  height: 300px;
  background: #d5b07a;
  z-index: 1;
}

.open {
  display: flex;
  animation: slideFromRight 1s ease;
  right: 0;
}

.close {
  display: flex;
  animation: slideFromLeft 1s ease;
  right: -100%;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
}

.close-menu {
  position: absolute;
  top: 20px;
  right: 5%;
  cursor: pointer;
}

@keyframes slideFromRight {
  0% {
    right: -100%;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

@keyframes slideFromLeft {
  0% {
    right: 0;
    opacity: 1;
  }
  100% {
    right: -100%;
    opacity: 0;
  }
}

@media only screen and (max-width: 425px) {
  .wrapper {
    position: relative;
    overflow-x: hidden;
  }

  .header h1 {
    font-size: 24px;
  }

  .menu {
    display: flex;
    top: 12px;
  }

  .headerContent {
    display: none;
  }

  .nav-links {
    display: flex;
    width: 40%;
  }

  .imgOverlay {
    width: 90%;
    left: 5%;
    top: 29%;
    padding: 10px;
    border: 1px solid black;
  }

  .imgName {
    font-size: 16px;
    padding: 0;
  }

  .imgDetail,
  .imgOverlay a {
    display: none;
  }

  .greeting {
    margin-top: 20px;
    padding-bottom: 0;
  }

  .greeting h1,
  .appName,
  .artworks h2,
  .about h2,
  .contact h2 {
    font-size: 24px;
  }

  .greetingBtns {
    flex-direction: column;
    width: 70%;
  }

  .greetingBtns a {
    margin-bottom: 20px;
  }

  .artworks h2 {
    padding-top: 10px;
  }

  .greeting p {
    font-size: 14px;
  }

  #artworksContent {
    flex-direction: column;
    padding-bottom: 0;
  }

  .artwork {
    width: 100%;
    margin-bottom: 20px;
  }

  .yellowLine {
    margin-top: 0;
  }

  .about {
    width: 80%;
  }

  .about h1 {
    font-size: 20px;
  }

  .characteristic {
    font-size: 16px;
  }

  .aboutText {
    font-size: 14px;
  }

  .contactContainer {
    padding: 10px 0 20px;
  }

  .contactInfo,
  .terms {
    display: none;
  }

  .contactInfoPhone,
  .termsPhone {
    display: flex;
    flex-direction: column;
  }

  .media {
    flex-direction: column;
    align-items: flex-end;
  }

  .contactInfoPhone p {
    line-height: 1.6;
  }

  .media i {
    line-height: 1.5;
    font-size: 20px;
  }
}
