* {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  font-size: 18px;
}

body {
  overflow-x: hidden;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box1 {
  width: 70%;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100vh;
}

.box2 {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.menu {
  position: absolute;
  right: 1%;
  top: 1%;
  width: 40px;
  height: 40px;
  border: none;
  background: #d5b07a;
  border-radius: 50%;
  cursor: pointer;
}

.menu i {
  margin-top: 5%;
}

h1 {
  font-size: 36px;
  margin: 10% 0 5% 10%;
}

.login-p {
  margin: 5% 0 10% 10%;
}

.sign-up {
  text-decoration: none;
  color: #ab6909;
}

#login-form {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#email {
  width: 100%;
  padding: 8px 0;
  border-radius: 10px;
  border: 2px solid #ab6909;
  margin-bottom: 10%;
}

#password {
  width: 100%;
  padding: 8px 0;
  margin-bottom: 5%;
  border-radius: 10px;
  border: 2px solid #ab6909;
}

.forgot-password {
  text-decoration: none;
  color: black;
}

.button {
  text-align: center;
  align-self: center;
  margin: 10% 0 20% 0;
  border-radius: 10px;
  width: 35%;
  height: 35px;
  background-color: #d5b07a;
  border: 2px solid #d5b07a;
  color: white;
  font-size: 18px;
}

.terms-policy {
  width: 80%;
  margin-left: 10%;
  color: #afadad;
  font-weight: 100;
  font-size: 16px;
}

.nav-links {
  position: absolute;
  right: -100%;
  top: 0;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
  width: 30%;
  height: 300px;
  background: #d5b07a;
  z-index: 1;
}

.open {
  display: flex;
  animation: slideFromRight 1s ease;
  right: 0;
}

.close {
  display: flex;
  animation: slideFromLeft 1s ease;
  right: -100%;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
}

.close-menu {
  position: absolute;
  top: 20px;
  right: 5%;
  cursor: pointer;
}

@keyframes slideFromRight {
  0% {
    right: -100%;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

@keyframes slideFromLeft {
  0% {
    right: 0;
    opacity: 1;
  }
  100% {
    right: -100%;
    opacity: 0;
  }
}
