* {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
}

body {
  overflow-x: hidden;
}

.header {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  flex-grow: 5;
  font-family: 'Meddon', 'cursive';
}

.icons {
  flex: 1;
  display: flex;
  justify-content: right;
}

.icons button {
  width: 40px;
  height: 40px;
  border: none;
  background: #d5b07a;
  border-radius: 50%;
  margin-left: 10%;
  cursor: pointer;
}

.close-menu {
  position: absolute;
  top: 20px;
  right: 5%;
  cursor: pointer;
}

.user-profile {
  width: 50%;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.imgContainer {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #d5b07a;
  margin-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#name {
  margin-top: 5px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 36px;
}

.user-info {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-header i {
  display: none;
}

.info-header p {
  font-family: 'Meddon', 'cursive';
  font-size: 18px;
}

.info-header button {
  width: 20%;
  padding: 5px;
  border: none;
  background: #d5b07a;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.user-intro {
  width: 100%;
  padding-top: 20px;
  align-self: center;
  font-style: italic;
  line-height: 1.2;
}

.grey-line {
  margin-top: 20px;
  border: 1px solid #e7e7e7;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
}

.tab {
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
}

.tab:hover {
  margin-top: -2px;
  border-top: 2px solid black;
}

.tab.active {
  margin-top: -2px;
  border-top: 2px solid black;
}

#artwork.active {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
#artwork.active > div {
  padding: 20px;
  text-align: center;
}

.fa {
  opacity: 0.5;
  margin-top: 3px;
  font-size: 15px;
}

#collection {
  flex-direction: row;
  text-align: center;
}

#collection img {
  margin: 20px;
}

.overlay {
  position: absolute;
  top: 30%;
  left: 25%;
  width: 50%;
  flex-direction: column;
  z-index: 1;
  border: 1px solid #ab6909;
  background: white;
  display: none;
}

.overlay i {
  align-self: flex-end;
  margin: 1%;
  cursor: pointer;
}

.overlay-container {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.overlay-container img {
  width: 40%;
  margin: 0 20px;
}

form {
  width: 100%;
  margin-right: 10%;
}

.overlay-info {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}

#title,
#date,
#description,
#collection-select,
#firstName,
#lastName,
#email,
#updateDescription,
#password {
  border: 1px solid #ab6909;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
}

.updateProfileOverlay {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 20%;
  flex-direction: column;
  z-index: 1;
  border: 1px solid #ab6909;
  background: white;
  display: none;
}

.updateProfileOverlay i {
  align-self: flex-end;
  margin: 1%;
  cursor: pointer;
}

.updateProfileOverlay h3 {
  color: black;
  text-align: center;
  margin-top: 20px;
}

.updateProfileOverlay form {
  padding: 10%;
}

#firstName,
#lastName,
#email,
#updateDescription,
#password {
  margin-top: 2px;
  margin-bottom: 20px;
}

.updateProfileOverlay button {
  width: 50%;
  background: #d5b07a;
  border: none;
  padding: 5px;
  font-size: 16px;
  margin: 0 auto;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-open {
  display: flex;
}

.nav-links {
  position: absolute;
  right: -100%;
  top: 0;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
  width: 50%;
  height: 300px;
  background: #d5b07a;
  z-index: 1;
}

.open {
  display: flex;
  animation: slideFromRight 1s ease;
  right: 0;
}

.close {
  display: flex;
  animation: slideFromLeft 1s ease;
  right: -100%;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
}

.line {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  right: 0;
}

.menu div:nth-child(1) {
  top: 0px;
}

.menu div:nth-child(2) {
  top: 10px;
}

.menu div:nth-child(3) {
  top: 20px;
}

.menuOpen div:nth-child(1) {
  transform: rotate(45deg);
  top: 10px;
}

.menuOpen div:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.menuOpen div:nth-child(3) {
  transform: rotate(-45deg);
  top: 10px;
}

@keyframes slideFromRight {
  0% {
    right: -100%;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

@keyframes slideFromLeft {
  0% {
    right: 0;
    opacity: 1;
  }
  100% {
    right: -100%;
    opacity: 0;
  }
}

@media only screen and (max-width: 425px) {
  .wrapper {
    position: relative;
    overflow-x: hidden;
  }

  .header {
    margin: 1% auto;
  }

  .header h1 {
    font-size: 20px;
  }

  .icons button {
    height: 30px;
  }

  .user-profile {
    width: 80%;
    flex-direction: column;
  }

  .user-profile img {
    width: 50%;
    margin-right: 0;
    align-self: center;
  }

  .info-header {
    justify-content: center;
  }

  .info-header button {
    display: none;
  }

  .info-header i {
    display: flex;
    margin-left: 5%;
  }

  .user-intro {
    text-align: center;
  }

  .tabs {
    padding: 0;
  }

  .overlay {
    width: 70%;
    left: 15%;
    top: 10%;
  }

  .overlay-container {
    flex-direction: column;
  }

  .overlay-container img {
    width: 80%;
  }

  .overlay-container form {
    margin-right: 0;
    width: 80%;
  }

  .updateProfileOverlay {
    width: 70%;
    top: 10%;
    left: 15%;
  }

  .updateProfileOverlay i,
  .overlay i {
    margin-right: 2%;
  }
}
