* {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
}

body {
  overflow-x: hidden;
}

nav {
  height: 10vh;
  position: relative;
}

/* .hamburger {
  background: #d5b07a;
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
} */

.hamburger {
  width: 35px;
  height: 30px;
  position: absolute;
  right: 1%;
  margin: 5px auto;
  cursor: pointer;
  z-index: 1;
}

.nav-links {
  position: absolute;
  right: -100%;
  top: 25%;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
  width: 50%;
  height: 300px;
  background: #d5b07a;
}

.open {
  display: flex;
  animation: slideFromRight 1s ease;
  right: 0;
}

.close {
  display: flex;
  animation: slideFromLeft 1s ease;
  right: -100%;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
}

.line {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  right: 0;
}

.hamburger div:nth-child(1) {
  top: 30px;
}

.hamburger div:nth-child(2) {
  top: 40px;
}

.hamburger div:nth-child(3) {
  top: 50px;
}

.hamburgerOpen div:nth-child(1) {
  transform: rotate(45deg);
  top: 39px;
  left: 8px;
}

.hamburgerOpen div:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.hamburgerOpen div:nth-child(3) {
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}

@keyframes slideFromRight {
  0% {
    right: -100%;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

@keyframes slideFromLeft {
  0% {
    right: 0;
    opacity: 1;
  }
  100% {
    right: -100%;
    opacity: 0;
  }
}
