* {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
}

body {
  overflow-x: hidden;
}

.container {
  height: 100vh;
}

.header {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  flex-grow: 5;
  font-family: 'Meddon', 'cursive';
}

.userName {
  margin-right: 5%;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}

.userName i {
  font-size: 20px;
  margin-left: 5%;
}

.menu {
  position: absolute;
  right: 5%;
  top: 1%;
  width: 40px;
  height: 40px;
  border: none;
  background: #d5b07a;
  border-radius: 50%;
  cursor: pointer;
}

.menu i {
  margin-right: 2%;
  font-size: 16px;
}

.nav-links {
  position: absolute;
  right: -100%;
  top: 0;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
  width: 30%;
  height: 300px;
  background: #d5b07a;
  z-index: 1;
}

.open {
  display: flex;
  animation: slideFromRight 1s ease;
  right: 0;
}

.close {
  display: flex;
  animation: slideFromLeft 1s ease;
  right: -100%;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
}

.close-menu {
  position: absolute;
  top: 20px;
  right: 5%;
  cursor: pointer;
}

.line {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  right: 0;
}

.menu div:nth-child(1) {
  top: 0px;
}

.menu div:nth-child(2) {
  top: 10px;
}

.menu div:nth-child(3) {
  top: 20px;
}

.menuOpen div:nth-child(1) {
  transform: rotate(45deg);
  top: 10px;
}

.menuOpen div:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.menuOpen div:nth-child(3) {
  transform: rotate(-45deg);
  top: 10px;
}

@keyframes slideFromRight {
  0% {
    right: -100%;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

@keyframes slideFromLeft {
  0% {
    right: 0;
    opacity: 1;
  }
  100% {
    right: -100%;
    opacity: 0;
  }
}

#path {
  margin: 5% 0 0 5%;
}

.collection-path {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

.stupid {
  margin-left: 10px;
  font-size: 24px;
  color: #ab6909;
}

.single-collection-path {
  margin-left: 10px;
  font-size: 24px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.image-path {
  margin-left: 10px;
  font-size: 24px;
  color: black;
}

#image-content {
  margin: 20px 0 0 50px;
}
